    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lobster&family=Ultra&display=swap');
    * {
        padding: 0;
        margin: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    html {
        font-size: 10px;
        font-family: 'Dancing Script', cursive;
        font-family: 'Lobster', cursive;
        font-family: 'Ultra', serif;
    }
    
    body {
        background-image: url(./img/FrontView.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    #Front .btn {
        display: inline-block;
        padding: 10px 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: white;
        background-color: transparent;
        border: 3px solid whitesmoke;
        border-radius: 8px;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 30px;
        position: relative;
        text-align: center;
        cursor: pointer;
        transition: .3s ease;
        transition-property: background-color, color, padding;
    }
    
    #Front .btn:hover {
        color: black;
        background-color: whitesmoke;
        padding: 20px 40px;
    }
    
    #Front div.h1 {
        background-color: rgb(255, 255, 255, 0.75);
    }
    
    #Front div.h2 {
        background-color: rgba(255, 255, 255, 0.25);
    }
    
    #Front div.p {
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    #Front h3 {
        font-family: 'Lobster', cursive;
        display: block;
        width: fit-content;
        font-size: 3rem;
        position: relative;
        left: 50px;
        color: rgb(0, 0, 0);
    }
    
    #Front h1.a {
        font-family: 'Ultra', serif;
        display: block;
        width: fit-content;
        font-size: 3rem;
        position: relative;
        left: 150px;
        transition: 0.3s ease-in-out;
        color: rgb(255, 255, 255);
    }
    
    #Front h1.b {
        font-family: 'Ultra', serif;
        display: block;
        width: fit-content;
        font-size: 8rem;
        position: relative;
        left: 150px;
        transition: 0.3s ease-in-out;
        color: rgb(255, 255, 255);
    }
    
    #Front p {
        background-color: transparent;
        font-family: 'Dancing Script', cursive;
        display: block;
        width: fit-content;
        font-size: 4rem;
        position: relative;
        left: 200px;
        color: tomato;
        transition: 0.3s ease;
        transition-property: background-color, color;
        text-align: center;
    }
    
    #Front p:hover {
        color: whitesmoke;
        background-color: tomato;
    }
    
    #Front h1:hover {
        color: black;
        background-color: transparent;
    }